*       {margin: 0%;
}

/* Header */
header {position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        position: fixed;
}

header ul  {display: flex;
            align-items: center;
            justify-content:flex-start;
            list-style: none;
            background-color: rgb(90, 42, 17) ;
}

header li {transition: 0.3s;
}


header img {max-block-size: 2em;
        padding-top: 0.5em;
}

header nav li a {font-size: 200%;
            color: antiquewhite;
            font-family:fantasy;
            font-weight:bolder;
            margin-right: 1em;
}

/* animaties */
header li:hover {transform: scale(1.1);
        rotate: 3deg;
}

/* Footer */

footer {padding-left: 4em;
        background-color: rgb(90, 42, 17);
        color: antiquewhite;
        text-decoration: none;
}

footer h2 {margin-top: 0%;
        margin-bottom: 0%;
        padding-top: 5%;
}

footer ul {list-style: none;
        padding-bottom: 5%;
        padding-left: 0%;
}

footer li {display: flex;
        align-items: center;
        justify-content: flex-start;
}

footer li a {color: antiquewhite;}

footer img {max-width: 2em;
            padding-top: 1.5%;
            padding-right: 2%;
            padding-bottom: 1.5%;
}

/* animaties */

footer li:hover {text-decoration: underline;}


/* body */
h1 {color: rgb(128, 60, 27);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em ;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

h2 {font-family: 'Courier New', Courier, monospace;
        font-size: 2em;
        padding-bottom: 5%;
}

body {background-color: antiquewhite;
        margin: 0%;
}

img {max-width: 100%; 
}
      
/* Main */
main img {max-width: 30em;
        display: flex;
        justify-content: flex-end; 
        border-radius: 2em;
        margin: 2em;
        margin-left: 4em;
        margin-right: 4em;
}


a {text-decoration: none;
        transition: 0.2s;
}


p {font-family:'Times New Roman', Times, serif ;
        font-size: 1.4em;
}



/* animaties */

a:hover {scale: 1.1;
}

/* intro */

.introductie p{font-size: 1.6em;
                display: flex;
                justify-content: center;
                color: rgb(128, 60, 27);
                padding-bottom: 5%;
}




/* my projects main */

.my-projects {display: flex;             
        background-color: rgb(128, 60, 27);
        padding: 4em;
        max-height: 40%;
}

.my-projects-text {display: flex;
               flex-flow: column;
               margin: 2em;
               margin-left: 4em;
               color: antiquewhite;
}

.my-projects h2 {color: antiquewhite;
        margin: 5%;
        margin-left: 0%;
}

.my-projects img {display: flex;
        justify-content: flex-end;
}

/* my projects */

.introduction {color: antiquewhite;
        background-color: rgb(128, 60, 27);
        padding-bottom: 5%;
}

.introduction h1 {color: antiquewhite;
}

.introduction p {text-align: center;
        padding-left: 20%;
        padding-right: 20%;
}

.projects {padding: 5%;
        color: rgb(128, 60, 27);
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
}

.projects img {max-width: 40%;
}

.projects p {padding-bottom: 10%;
        border-bottom-style: dashed;
        border-color: rgb(128, 60, 27);
        margin-bottom: 5%;
        padding-left: 15%;
        padding-right: 15%;
}

/* amigurumi main */
.amigurumi {display: flex;
        padding: 4em;
        max-height: 40%;

}

.amigurumi img {display: flex;
        justify-content: flex-start;
}

.amigurumi-text {display: flex;
        flex-flow: column;
        justify-content: flex-end;
        margin: 2em;
        margin-right: 4em;
        color: rgb(128, 60, 27);
}

.amigurumi h2 {color: rgb(128, 60, 27);
        margin: 5%;
        margin-left: 0%;
}
/* amigurumi */

.introo {color: rgb(128, 60, 27);
        text-align: center;
        padding-bottom: 5%;
        padding-left: 20%;
        padding-right: 20%;
}

.introo h1 {padding-top: 15%;}

.materials {background-color: rgb(128, 60, 27);
        color: antiquewhite;
        padding: 5%;
}

.materials ul {font-size: 1.4em;
}

.tutorial {color: rgb(128, 60, 27);
}

ol {margin-left:  5%;
        margin-top: 5%;
        font-size: 1.4em;
}

.tutorial h2 {background-color: rgb(128, 60, 27);
        color: antiquewhite;
        text-align: center;
        padding-top: 5%;
}

.tutorial p {padding-left: 5%;
        margin-top: 5%;
}

.tutorial img {margin-left: 5%;
        margin-bottom: 5%;
        max-width: 30%;
}


/* tapestry main */

.tapestry {display: flex; 
        background-color: rgb(128, 60, 27);  
        padding: 4em;
}

.tapestry-text {display: flex;
               flex-flow: column;
               margin: 2em;
               margin-left: 4em;
               color: antiquewhite;
}

.tapestry h2 {color: antiquewhite;
        margin: 5%;
        margin-left: 0%;
}

.tapestry img {display: flex;
        justify-content: flex-end;
}



/* tapestry */

.tapestry-img {display: flex;
        justify-content: center;
        margin: 0%;
}

.tapestry-img img {min-width: 40%;
        margin: 2%;   
}

.example {color: rgb(128, 60, 27); 
        padding: 5%;       
}


.pattern img {border-radius: 0%;
}

.intro {background-color: rgb(128, 60, 27);
        color: antiquewhite;
        padding-bottom: 5%;
}

.intro p {display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
}

.intro h1 {color: antiquewhite;
}



.pattern {background-color: rgb(128, 60, 27);
        color: antiquewhite;
        padding: 5%;
}

.color {color: rgb(128, 60, 27);
        padding: 5%;
}

.instruction {color: antiquewhite;
        background-color: rgb(128, 60, 27);
        padding: 5%;
}

.instruction h3 {font-size: 1.7em;
        padding-top: 5%;
        padding-bottom: 2%;
}

.instruction p {padding-bottom: 5%;}